body {
  display: flex;
  justify-content: center;
}

main {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 4em;
  min-width: 400px;
}

h3.justify {
  text-align: center;
  text-align-last: justify;
}

.target-date {
  text-align: center;
  font-size: 1.1em;
}

.fat {
  font-size: 1.4em;
}

.red {
  color: red;
}

.yellow {
  color: gold;
}

.green {
  color: green;
}

tr.estimate {
  background-color: #a29809;
}

tbody.estimate tr:last-of-type {
  border-bottom: 2px solid #a29809;
}

tr.past {
  background-color: #095798;
}

tbody.past tr:last-of-type {
  border-bottom: 2px solid #095798;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.progress-container {
  margin-top: 0.5em;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill-loss {
  display: block;
  height: 22px;
  background-color: #009879;
  border-radius: 3px;

  transition: width 500ms ease-in-out;
}

.progress-bar-fill-gain {
  display: block;
  height: 22px;
  background-color: #c93402;
  border-radius: 3px;

  transition: width 500ms ease-in-out;
}

.progress-bar-fill-days {
  display: block;
  height: 22px;
  background-color: #004298;
  border-radius: 3px;

  transition: width 500ms ease-in-out;
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.previous-weights {
  padding-bottom: 3em;
}
